## Variables

In [1]:
a=1
b=a
print(a,b)

1 1

In [2]:
a=2
print(a,b)

2 1

## Functions

In [3]:
def function1(x):
    print(x)
    print('Inside function')
    return 4*x
f=function1(2)

2
Inside function

In [4]:
print(f)

8

In [5]:
def function2(x):
    print('Hello There!')
    print(x)
function2(5)

Hello There!
5

## Python For Loop

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

## List Creation (mutable)

In [7]:
list1 = [3, 10, -1]
list1

[3, 10, -1]

## List creation using Range

In [8]:
list2=list(range(5))
print(list2)

[0, 1, 2, 3, 4]

## List append()

In [9]:
list1.append(1)
list1

[3, 10, -1, 1]

## List allows all types

In [10]:
list1.append("Hello")
list1

[3, 10, -1, 1, 'Hello']

## Append list of list

In [11]:
list1.append([1,2])
list1

[3, 10, -1, 1, 'Hello', [1, 2]]

## List insert()
Insert at specified index

In [12]:
list1.insert(1,1000)
list1

[3, 1000, 10, -1, 1, 'Hello', [1, 2]]

## Retriving item

In [13]:
list1[0]

3

## Retriving last item

In [14]:
list1[-1]

[1, 2]

## Change the content

In [15]:
list1[0]='World'
list1

['World', 1000, 10, -1, 1, 'Hello', [1, 2]]

## Check if element is present

In [16]:
if 'World' in list1:
    print('Yes')
else:
    print('No')

Yes

## List len()

In [17]:
len(list1)

7

## Deletion
### List remove()

In [18]:
list1.remove(1000)
list1

['World', 10, -1, 1, 'Hello', [1, 2]]

### List pop() - last item

In [19]:
list1.pop()
list1

['World', 10, -1, 1, 'Hello']

### List pop() - specified position

In [20]:
list1.pop(1)
list1

['World', -1, 1, 'Hello']

### Del an item with position

In [21]:
del list1[0]
list1

[-1, 1, 'Hello']

### Del whole list

In [22]:
del list1

### List clear()

In [23]:
list4=[1,2,2,3,4,5]
list4.clear()
print(list4)

[]

## Swap in List
### 1

In [24]:
list3=['banana','apple','microsoft']
temp=list3[0]
list3[0]=list3[2]
list3[2]=temp
list3

['microsoft', 'apple', 'banana']

### 2

In [25]:
list3=['banana','apple','microsoft']
list3[0],list3[2]=list3[2],list3[0]
list3

['microsoft', 'apple', 'banana']

## List Copy with copy() method

In [26]:
list6=list3.copy()
list6

['microsoft', 'apple', 'banana']

## List Copy with list() method

In [27]:
list7=list(list6)
list7

['microsoft', 'apple', 'banana']

## Join 2 lists using +

In [28]:
list8=list7+list2
list8

['microsoft', 'apple', 'banana', 0, 1, 2, 3, 4]

## Join 2 lists using extend()

In [29]:
list9=[1,2,3]
list9.extend(list8)
list9

[1, 2, 3, 'microsoft', 'apple', 'banana', 0, 1, 2, 3, 4]

## List count() elements

In [30]:
list9.count(1)

2

## List index() on occurence

In [31]:
list9.index(1,2)

7

## List reverse() - It affects the original

In [32]:
list9.reverse()
print(list9)

[4, 3, 2, 1, 0, 'banana', 'apple', 'microsoft', 3, 2, 1]

## List sort() -It affects the original

In [33]:
list7.sort(reverse=True)
list7

['microsoft', 'banana', 'apple']

## List sorted() -creates new list

In [34]:
list10=sorted(list6)
list10

['apple', 'banana', 'microsoft']

## Dictionary Creation (mutable)

In [35]:
d={}
type(d)

dict

In [36]:
d['Tom']=10
d['Jenny']=20
d[10]=100
d

{'Tom': 10, 'Jenny': 20, 10: 100}

## Retriving Dict

In [37]:
for key,value in d.items():
    print(str(key)+' : '+str(value))

Tom : 10
Jenny : 20
10 : 100

In [38]:
print(d['Tom'])

10

## fromkeys() - Create dict (default key value is None)

In [39]:
x=('key1','key2','key3')
y=0
dict1=dict.fromkeys(x,y)
dict1

{'key1': 0, 'key2': 0, 'key3': 0}

## Dict get()

In [40]:
d.get('Tom')

10

## Dict items()

In [41]:
d.items()

dict_items([('Tom', 10), ('Jenny', 20), (10, 100)])

## Dict keys()

In [42]:
d.keys()

dict_keys(['Tom', 'Jenny', 10])

## Dict values()

In [43]:
d.values()

dict_values([10, 20, 100])

## Dict pop()

In [44]:
d.pop('Tom')
d

{'Jenny': 20, 10: 100}

## Dict popitem()

In [45]:
d.popitem()
d

{'Jenny': 20}

## Dict setdefault() 
If the key does not exist, this value becomes the key's value

In [46]:
d.setdefault('Tom','Test')
d

{'Jenny': 20, 'Tom': 'Test'}

## Dict update()

In [47]:
d.update({'Jerry':'White'})
d

{'Jenny': 20, 'Tom': 'Test', 'Jerry': 'White'}

## Dict copy()

In [48]:
c=d.copy()
c

{'Jenny': 20, 'Tom': 'Test', 'Jerry': 'White'}

## Dict clear()

In [49]:
d.clear()
d

{}

## Tuples - creation (immutable)

In [50]:
tuple1=(1,'Python',7.8)
print(tuple1)
tuple3=tuple((34,45)) # should use double brackets
print(tuple3)

(1, 'Python', 7.8)
(34, 45)

## Accessing

In [51]:
tuple1[0]

1

## modify tuple

In [52]:
list20=list(tuple1)
list20.append(True)
tuple1=tuple(list20)
tuple1

(1, 'Python', 7.8, True)

## Tuple single item

In [53]:
tuple2=('Hello',)
string1=('Hello')
print(type(tuple2),type(string1))

<class 'tuple'> <class 'str'>

## Tuple del()

In [54]:
del tuple2
tuple2

NameError: name 'tuple2' is not defined

## Tuple join

In [55]:
tuple2=(1,2,3,4)
tuple1=tuple1+tuple2
tuple1

(1, 'Python', 7.8, True, 1, 2, 3, 4)

## Tuple count()

In [56]:
tuple1

(1, 'Python', 7.8, True, 1, 2, 3, 4)

In [57]:
tuple1.count(7.8)

1

## Tuple index()

In [58]:
tuple1.index(1)

0

## Set - unordered
existing items cannot be changed, but items can be added

In [59]:
set1={'apple','banana','orange'}
set1

{'apple', 'banana', 'orange'}

In [60]:
'apple' in set1

True

## Set add()

In [61]:
set1.add('strawberry')
set1

{'apple', 'banana', 'orange', 'strawberry'}

## Set update()

In [62]:
# adding list
set1.update(['apple','grapes'])
set1

{'apple', 'banana', 'grapes', 'orange', 'strawberry'}

In [63]:
# adding set
set2={1,2,3,4}
set1.update(set2)
set1

{1, 2, 3, 4, 'apple', 'banana', 'grapes', 'orange', 'strawberry'}

## Set union()

In [64]:
set3=set1.union(set2)
set3

{1, 2, 3, 4, 'apple', 'banana', 'grapes', 'orange', 'strawberry'}

## Set copy()

In [65]:
set4=set1.copy()
set4

{1, 2, 3, 4, 'apple', 'banana', 'grapes', 'orange', 'strawberry'}

## Set difference()
returns new set

In [66]:
set6={1,2,3,4}
set7={1,2,6,7}
set5=set6.difference(set7)
set5

{3, 4}

## Set difference_update()
updates existing set

In [67]:
set6.difference_update(set7)
set6

{3, 4}

## Set intersection()
many number of sets can be included

In [68]:
set6={1,2,3,4}
set7={1,2,6,7}
set5=set6.intersection(set7)
set5

{1, 2}

## Set intersection_update()
many number of sets can be included

In [69]:
set6={1,2,3,4}
set7={1,2,6,7}
set6.intersection_update(set7,set5)
set6

{1, 2}

## Set isdisjoint()
returns True if none of the items are present in both sets, otherwise it returns False.

In [70]:
set6.isdisjoint(set7)

False

## Set issubset()

In [71]:
set5.issubset(set7)

True

## Set issuperset()

In [72]:
set5.issuperset(set7)

False

## Set symmetric_difference()

In [73]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference(y)

{'banana', 'cherry', 'google', 'microsoft'}

## Set symmetric_difference_update()

In [74]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
x

{'banana', 'cherry', 'google', 'microsoft'}

## Set remove()
gives error if item to be removed is not present

In [75]:
set1.remove('apple')
set1

{1, 2, 3, 4, 'banana', 'grapes', 'orange', 'strawberry'}

## Set discard()
does not give error if item to be removed is not present

In [76]:
set1.discard('banana')
set1

{1, 2, 3, 4, 'grapes', 'orange', 'strawberry'}

## Set pop()
unpredictable remove operation

In [77]:
set1.pop()

'orange'

In [78]:
set1

{1, 2, 3, 4, 'grapes', 'strawberry'}